$color1: #d9f8c4;
$color2: #f9f9c5;
$color3: #fad9a1;
$color4: #f37878;
$color5: #b0e57c;
$color6: #02203c;

$blue: #66b2ff;
$background: #0a1929;
$grayWhite: rgba(255, 255, 255, 0.5);
$darkBlue: #02203c;
$gray: rgb(68, 93, 110);
