$color1 : #D9F8C4;
$color2: #F9F9C5;
$color3 : #FAD9A1;
$color4 : #F37878;
$color5 : #B0E57C;
$color6 : #02203c;


$blue : #66B2FF;
$background : #0A1929;
$grayWhite : rgba(255, 255, 255, 0.5);
$darkBlue : #02203c;