.firstLayer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vmin;
    margin-top: 2rem;
    margin-bottom: 2rem;
    div:nth-child(2){
        border: 3px solid purple;
        padding:  .3rem 1rem;
        border-radius: .7rem;
    }
}
@media (max-width : 600px) {
    .firstLayer{
        width: 90vmin;
    }
}