@import "../../helpers/variables";
.firstLayer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vmin;
    margin-top: 2rem;
    margin-bottom: 2rem;
    div:nth-child(2){
        border: 4px solid $color4;
        padding:  .3rem 1rem;
        border-radius: .7rem;
        color: green;
        font-size: 1.1rem;
        font-weight: bold;
    }
}
@media (max-width : 600px) {
    .firstLayer{
        width: 90vmin;
    }
}