.Game{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    & > button{
        margin-top: 2rem;
        padding: .5rem 1.7rem;
        margin-bottom: 1rem;
    }
    & > h1{
        margin-bottom: 2rem;
        color: green;
    }
    
}